@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  font-family: 'Indie Flower', cursive;    
  margin: 0;
}

h1 {
  font-family: 'Indie Flower', cursive;
}


header{
display: flex;
height:21vh ;
justify-content: center;
margin:0;
background: repeating-linear-gradient(
  180deg,
  #edeae3,
  #edeae3 7vh,
  #f3bac0 7vh,
  #f3bac0 14vh,
  #edceba 14vh,
  #edceba 21vh
);
}
.box1{
margin-top: 0;
font-size: 3vh;
color: #383835;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 0.2em;
/*font-family: 'Courier New', Courier, monospace;*/
justify-content: center;
font-weight: lighter;
}
h1{
  margin: 0;


}