.about_us {
    min-height: 80vh;
    padding: 1em;
}

.about_us .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    padding: 1em 2em;

}
.about_us .container1 p {
    width: 50%;
}

.about_us .container1 img {
    max-height: 300px;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    /* width: 40%; */
}

@media only screen and (max-width: 900px) {
    .about_us .container1 p {
        width: auto;
    }
  }