@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IM+Fell+French+Canon&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  background-image: url("../img/bg-pattern.png");
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body,
ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

p,
h1,
h2,
h3,
h4 {
  font-family: "IM Fell French Canon", serif;
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 80px;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  margin-left: 25px;
  font-weight: 400;
  height: 56px;
  display: flex;
  align-items: center;
}

h1::before {
  content: url("../img/raihana.svg");
  position: absolute;
  left: 10px;
  transform: scaleX(-1);
}

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
img {
  border: none;
  max-width: 100%;
}

header {
  position: absolute;
  background-color: #fff;
  right: 0;
  height: 60px;
  border-radius: 0 0 0 30px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.68);
  padding: 1em;
  z-index: 100;
}
header ul {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.banner {
  gap: 5em;
  color: white;
  background: url("../img/homepage_banner_bg.png");
  background-size: cover;
  height: 597px;
}

.banner-logo {
  animation-name: slow-spin;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1em 3em;
}

footer::after {
  content: url("../img/raihana.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

footer .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .logo {
  height: 200px;
}

.copyright {
  text-align: center;
}

.social {
  gap: 50px;
}

.social-icon::before {
  font-size: 24px;
}

.social-icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

.social-icon:active {
  color: rgba(255, 255, 255, 0.5);
}

.pizza-clicker {
  height: 100px;
}

.pizza-clicker:hover {
  transform: scale(1.1);
}

.pizza-clicker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .container {
  width: 33.33333%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-page {
  font-weight: 700;
}

.copyright {
  align-self: flex-end;
}

section {
  padding: 0 1.5em;
}

.back-to-top {
  width: 100vw;
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-top h1 {
  margin-left: 0;
}

.center {
  text-align: center;
}

/* TEST */
.border {
  border-radius: 10px;
  border: 3px solid #d9d9d9;
}

.social-embed-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container1 p {
  width: 50%;
}

.container1 img {
  max-height: 300px;
  /* width: 40%; */
}

/* .gallary-image { */
/* width: 20%; */
/* height: 20%; */
/* } */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.location .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.gallary-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.5em;
  margin-bottom: 1em;
  justify-content: center;
}

.gallary-images img {
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.gallary-images img:hover {
  transform: scale(1.4);
  z-index: 10;
}

.dib-homepage-title::before {
  content: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


@media only screen and (max-width: 900px) {
  .banner .title {
    display: none;
  }
  .banner-logo {
    padding: 20px;
  }
  footer .container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner {
    height: auto;
  }
  header {
    width: 100vw;
    border-radius: 0;
    padding: 0.5em;
    position: static;
  }

  .gallary-images img:hover {
    transform: scale(1.2);
    z-index: 10;
  }
}

@media only screen and (max-width: 350px) {
  .vspacer {
    display: none;
  }
}